# URL du webhook n8n (form trigger — production)
N8N_WEBHOOK_URL=https://your-n8n-instance.com/webhook/0fc9cd47-01c9-430a-a9b5-c445147fbb6a

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://gbycqybfkkxcbpvqohne.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdieWNxeWJma2t4Y2JwdnFvaG5lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1NjczNDQsImV4cCI6MjA5NjE0MzM0NH0.QwL51URle7Y922XxDyx6LHWjh-R7GqCLpYhXUMIydL4
